<a href="https://colab.research.google.com/github/souradipta93/Social_Media_-_Web_Analytics/blob/main/sentiment_tweets_netflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from matplotlib import pyplot as plt
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from collections import defaultdict
import seaborn as sns

pd.set_option('display.max_columns', None)

In [ ]:
data1 = pd.read_csv('brand1_nflx.csv')
data1.head()

C:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,user_id,status_id,created_at,screen_name,text,source,display_text_width,reply_to_status_id,reply_to_user_id,reply_to_screen_name,is_quote,is_retweet,favorite_count,retweet_count,quote_count,reply_count,hashtags,symbols,urls_url,urls_t.co,urls_expanded_url,media_url,media_t.co,media_expanded_url,media_type,ext_media_url,ext_media_t.co,ext_media_expanded_url,ext_media_type,mentions_user_id,mentions_screen_name,lang,quoted_status_id,quoted_text,quoted_created_at,quoted_source,quoted_favorite_count,quoted_retweet_count,quoted_user_id,quoted_screen_name,quoted_name,quoted_followers_count,quoted_friends_count,quoted_statuses_count,quoted_location,quoted_description,quoted_verified,retweet_status_id,retweet_text,retweet_created_at,retweet_source,retweet_favorite_count,retweet_retweet_count,retweet_user_id,retweet_screen_name,retweet_name,retweet_followers_count,retweet_friends_count,retweet_statuses_count,retweet_location,retweet_description,retweet_verified,place_url,place_name,place_full_name,place_type,country,country_code,geo_coords,coords_coords,bbox_coords,status_url,name,location,description,url,protected,followers_count,friends_count,listed_count,statuses_count,favourites_count,account_created_at,verified,profile_url,profile_expanded_url,account_lang,profile_banner_url,profile_background_url,profile_image_url
0,2308883654,1375314669917769732,2021-03-26T05:12:24Z,harikrishD2,"Perfect example for commercial entertainment,j...",Twitter for Android,278,NaN,NaN,NaN,False,False,0,0,NaN,NaN,ksravikumar|Rajnikanth|plthenappan,NaN,g.co/kgs/mY4dY1,https://t.co/qwe3V4s52L,https://g.co/kgs/mY4dY1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,758172291754823680|4502936240|19895282,PrimeVideoIN|NetflixIndia|arrahman,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,|,|,|||||||,https://twitter.com/harikrishD2/status/1375314...,Hari Krish,chennai,your FOLLOWER is not ur FAN!,NaN,False,444,729,6,18402,52969,2014-01-24T19:53:34Z,False,NaN,NaN,NaN,https://pbs.twimg.com/profile_banners/23088836...,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1370387155...
1,2308883654,1374590102148587525,2021-03-24T05:13:13Z,harikrishD2,@NetflixIndia @Hemambar_Jasti @sreekar_prasad ...,Twitter for Android,16,1.371375e+18,4.502936e+09,NetflixIndia,False,False,0,0,NaN,NaN,ayraa,NaN,NaN,NaN,NaN,http://pbs.twimg.com/media/ExOGaWLVEAIspnW.jpg,https://t.co/wu67ZXvnrn,https://twitter.com/harikrishD2/status/1374590...,photo,http://pbs.twimg.com/media/ExOGaWLVEAIspnW.jpg,https://t.co/wu67ZXvnrn,https://twitter.com/harikrishD2/status/1374590...,NaN,4502936240|96067177|2593039064,NetflixIndia|Hemambar_Jasti|sreekar_prasad,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,|,|,|||||||,https://twitter.com/harikrishD2/status/1374590...,Hari Krish,chennai,your FOLLOWER is not ur FAN!,NaN,False,444,729,6,18402,52969,2014-01-24T19:53:34Z,False,NaN,NaN,NaN,https://pbs.twimg.com/profile_banners/23088836...,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1370387155...
2,1294761432450387969,1375314560362541061,2021-03-26T05:11:57Z,Itizsaleem,#JagameThandiram #Tamil moves into Number 2 - ...,Twitter for Android,144,NaN,NaN,NaN,False,True,0,35,NaN,NaN,JagameThandiram|Tamil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1181020028277121026|1099026537892978689|450293...,gowri_gal|Binged_|NetflixIndia,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.375205e+18,#JagameThandiram #Tamil moves into Number 2 - ...,2021-03-25T21:56:03Z,Twitter for iPhone,37.0,35.0,1.181020e+18,gowri_gal,gowri_gal,800.0,8.0,18914.0,Singapore,Tracking IndianCinema 🇮🇳 IndonesianCinema 🇮🇩 #...,False,NaN,NaN,NaN,NaN,NaN,NaN,|,|,|||||||,https://twitter.com/Itizsaleem/status/13753145...,Itizsaleem,NaN,Ammu😭😭\nMii♥️♥️,NaN,False,188,469,0,13926,22702,2020-08-15T22:22:48Z,False,NaN,NaN,NaN,NaN,NaN,http://pbs.twimg.com/profile_images/1356620786...
3,1023871874529353728,1375314521531633665,2021-03-26T05:11:48Z,Spread_Love45,#JagameThandiram Number 2 in TOP 10 Most An...,Twitter for Android,262,NaN,NaN,NaN,False,False,0,0,NaN,NaN,JagameThandiram|JagameThandhiramOnNetflix|Dhanush,NaN,NaN,NaN,NaN,http://pbs.twimg.com/media/ExYZQh-VoAQZMRh.jpg,https://t.co/si4zk1EMbq,https://twitter.com/Spread_Love45/status/13753...,photo,http://pbs.twimg.com/media/ExYZQh-VoAQZMRh.jpg,https://t.co/si4zk1EMbq,https://twitter.com/Spread_Love45/status/13753...,NaN,1099026537892978689|4502936240|152251488|53855...,Binged_|NetflixIndia|dhanushkraja|karthiksubba...,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,|,|,|||||||,https://twitter.com/Spread_Love45/status/13753...,SPREAD LOVE,தனுஷ் இதயத்தில்,தலைவன் ஒருவனே @dhanushkraja❤,NaN,False,1504,95,0,23396,40356,2018-07-30T10:04:12Z,False,NaN,NaN,NaN,https://pbs.twimg.com/profile_banners/10238718...,NaN,http://pbs.twimg.com/profile_images/1374314852...
4,833298696498327553,1375314049441796097,2021-03-26T05:09:56Z,sandydfc,#JagameThandhiram gained Number 2nd place As ...,Twitter for Android,138,NaN,NaN,NaN,False,True,0,12,NaN,NaN,JagameThandhiram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1331226741172367361|4502936240|152251488,srinath_Ofcl|NetflixIndia|dhanushkraja,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.375263e+18,#JagameThandhiram gained Number 2nd place As ...,2021-03-26T01:46:36Z,Twitter for Android,16.0,12.0,1.331227e+18,srinath_Ofcl,🥳 Maryann Srinath 🤩,150.0,245.0,17142.0,NaN,Juzzt Srinath 🤗\nHere Only For #D. \nAnd.. Yes...,False,NaN,NaN,NaN,NaN,NaN,NaN,|,|,|||||||,https://twitter.com/sandydfc/status/1375314049...,𝐂𝐡𝐨𝐜𝐨𝐁𝐨𝐲𝐃𝐟𝐜™,"𝐃𝐢𝐧𝐝𝐢𝐠𝐮𝐥, 𝐈𝐧𝐝𝐢𝐚",𝐈𝐧𝐭𝐞𝐫𝐧𝐚𝐭𝐢𝐨𝐧𝐚𝐥 𝐀𝐜𝐭𝐨𝐫 தலைவன் @Dhanushkraja 𝐅𝐚𝐧😎 ...,NaN,False,3178,2257,0,149666,120742,2017-02-19T12:54:25Z,False,NaN,NaN,NaN,https://pbs.twimg.com/profile_banners/83329869...,NaN,http://pbs.twimg.com/profile_images/1336303258...

In [ ]:
df1 = data1[['text']]
df1.head()

                                                text
0  Perfect example for commercial entertainment,j...
1  @NetflixIndia @Hemambar_Jasti @sreekar_prasad ...
2  #JagameThandiram #Tamil moves into Number 2 - ...
3  #JagameThandiram  Number 2  in  TOP 10 Most An...
4  #JagameThandhiram  gained Number 2nd place As ...

In [ ]:
def score_speaker(speaker_df):
    df_dict = {}
    for i,response in speaker_df.iterrows():
        scorer = SentimentIntensityAnalyzer()
        scores = scorer.polarity_scores(response.text)
        df_dict[i] = scores
    df = pd.DataFrame.from_dict(df_dict)
    df = df.T
    return df

In [ ]:
df_sent = score_speaker(df1)

In [ ]:
df_sent['user']=data1['screen_name']

In [ ]:
df_sent.head()

     neg    neu    pos  compound           user
0  0.051  0.783  0.166    0.6901    harikrishD2
1  0.000  1.000  0.000    0.0000    harikrishD2
2  0.000  0.872  0.128    0.4278     Itizsaleem
3  0.000  0.862  0.138    0.4278  Spread_Love45
4  0.000  0.737  0.263    0.4588       sandydfc

In [ ]:
df_sent.to_csv('sentiment.csv')

In [ ]:
df_group = df_sent.groupby(by='user').mean()
df_group.reset_index(inplace=True)
df_group.head()

          user       neg       neu       pos  compound
0     0010Anil  0.000000  1.000000  0.000000  0.000000
1   004clinden  0.019643  0.890786  0.089571  0.183107
2   007_hardin  0.000000  0.912000  0.088000  0.458800
3     02_naina  0.000000  1.000000  0.000000  0.000000
4  03Raghavraj  0.000000  0.675000  0.325000  0.697300

In [ ]:
df_group.sort_values(by='compound', inplace=True)

In [ ]:
df_group.head()

                  user    neg    neu    pos  compound
10381       navadharma  0.408  0.542  0.050   -0.9573
1398          CuteYapa  0.343  0.657  0.000   -0.9450
10673  parthib47401548  0.419  0.581  0.000   -0.9325
7086      aparnanadig1  0.344  0.548  0.109   -0.9272
3148    Mahesh72074289  0.328  0.672  0.000   -0.9206

In [ ]:
#Top users with positive tweets
df_group.tail(10)

                  user    neg      neu      pos  compound
4762       SabinaBasha  0.058  0.52900  0.41300    0.9643
11716        shail9473  0.058  0.52900  0.41300    0.9643
10564     ohnotanishka  0.058  0.52900  0.41300    0.9643
10809       ppravin_02  0.000  0.55100  0.44900    0.9655
8255      fliptopbox13  0.052  0.62900  0.31900    0.9660
642    Anilkum24181488  0.000  0.61200  0.38800    0.9712
3503     MusicianRishi  0.000  0.60100  0.39900    0.9747
5217   Shubham23925489  0.000  0.58100  0.41900    0.9772
10660        pari20230  0.000  0.55800  0.44200    0.9780
5636       SyedLoveyou  0.000  0.19875  0.80125    0.9930

In [ ]:
bins = [-1,0,0.4,1]
labels = ['detractors', 'neutrals','promoters']
df_group['NPS'] = pd.cut(df_group['compound'], bins=bins, labels=labels)
df_group['NPS'].value_counts()

detractors    8193
neutrals      2510
promoters     2414
Name: NPS, dtype: int64

In [ ]:
df_group.head()

                  user    neg    neu    pos  compound         NPS
10381       navadharma  0.408  0.542  0.050   -0.9573  detractors
1398          CuteYapa  0.343  0.657  0.000   -0.9450  detractors
10673  parthib47401548  0.419  0.581  0.000   -0.9325  detractors
7086      aparnanadig1  0.344  0.548  0.109   -0.9272  detractors
3148    Mahesh72074289  0.328  0.672  0.000   -0.9206  detractors